@charset "UTF-8";

body, h1, h2, h3, ul, li, p {margin: 0; padding: 0;}
.clear::after {content: ""; display: block; clear: both;}
a { text-decoration: none; color: #333;}
ul {list-style: none;}

/* header, div, footer, section {border: 1px solid red;} */

#wrap { width: 1200px; margin: 0 auto;}

/* header { height: 100px; position: relative;}
header .logo { float: left; margin: 30px 0 0 20px; }
.gnb { position: absolute; right: 0; bottom: 0;}
.gnb li { float: left; padding: 10px 60px;
          background-color: #3cb149;}
.gnb li a { font-size: 20px; line-height: 60px;
            color: #fff; font-weight: bold;}
.gnb li:hover { background-color:#1d8844 ;} */

header { height: 100px;}
header .logo { float: left; margin: 30px 0 0 20px; }
.gnb { float: right; }
.gnb>li { float: left; width: 180px; height: 60px;
          background-color: #3cb149; line-height: 60px; text-align: center;
          font-size: 20px; font-weight: bold;
          margin-top: 40px; position: relative;}
.gnb>li a { color: #fff; }
.gnb>li:hover { background-color:#1d8844 ;}
.gnb>li:hover .sub_menu { display: block; }

.sub_menu { position: absolute; left: 0; top: 60px; width: 100%; display: none;
            z-index: 10; }
.sub_menu li { background-color:#434748 ; }
.sub_menu li:hover { background-color: #555; }


#visual { height: 300px; overflow: hidden; position: relative;}
#visual .caption { position: absolute; left: 50%; top: 50%;
                   background-color:rgba(29, 136, 68, 0.7);
                   color: #fff; width: 400px; height: 50px;
                   margin-left:-200px; margin-top: -25px;
                   text-align: center; line-height: 50px;
                   border-radius: 25px; font-size: 18px;}


#content { height: 200px; padding: 20px 0; }
#content section { float: left; width: 380px; box-sizing: border-box;}
#content section h3 { color:#1d8844; padding-bottom: 7px;
                    border-bottom: 1px solid #1d8844; }

.notice_list { font-size: 14px; margin-top: 10px;}
.notice_list li { line-height: 2.4; border-bottom: 1px solid #eee;
                  padding: 0 5px;}
.notice_list li span{ float: right; }

#content .gallery { margin: 0 30px; }
.imgbox { margin-top: 20px; text-align: center;}


footer { height: 100px; border-top: 2px solid #ddd;}
.btm_logo { float: left; padding-top: 30px; padding-left: 20px;}
.copy { float: left;  width: 780px; text-align: center; line-height: 100px;}
.copy strong { color:#1d8844 ; }
#site { float: right; margin-top: 30px; padding: 10px;
        border: 1px solid #ccc; width: 200px;}

